
<div class="mdl-layout__content">


  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--display-1">
        <h3>Add a Photo</h3>
      </div>
      <%= render "form" %>

    </div>
  </div>
</div>
